* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
    font-weight: 500 16px/1.5rem;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: #fff;
    --text-color: #000;
    --neutral-color: #fff;
    --main-color:  #D4B7F9;
    --secondary-color: #8E80F1;
    --main2-color: #D9DF15;
    --secondary2-color: #E95419;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100000;
    display: flex ;
    align-items: center ;
    justify-content: space-between;
    padding: 16px 7.5%;
    transition: 0.6s;
}

header .navbar-brand .logo-dark {
    display: block;
}

header .navbar-brand .logo-light {
    display: none;
}

header.sticky .navbar-brand .logo-dark {
    display: none;
}

header.sticky .navbar-brand .logo-light {
    display: block;
}

header .navbar-brand {
    min-width: 70px;
}

header.sticky .navbar-brand {
    min-width: 70px;
}

header.sticky {
    padding: 16px 7.5%;
    background-color: #fcfcff;
}


ul {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
    margin: 0px;
    justify-content: space-between;
}

.navbar a {
    color: var(--text-color);
    font-size: 1rem;
    transition: all .50s ease;
}

ul.navbar li.nav-item a.nav-link {
    color: var(--text-color);
}

ul.navbar li.nav-item a.nav-link:hover {
    color: var(--secondary-color);
}

ul.navbar li.nav-item a.nav-link.active {
    color: var(--secondary-color);
}


.right-nav-item {
    display: flex;
    align-items: center;
}

.right-nav-item a{
    padding: 8px 8px;
    margin-right: 8px;
    margin-left: 8px;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500 16px/1.5rem;
    transition: all .50s ease;
}

.nav-link:hover {
    color: var(--secondary-color);
}

.right-nav-item .btn-register {
    font: 500 12px/1.5rem Poppins, sans-serif;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 999px;
    padding: 0.75rem 3rem;
        -webkit-box-shadow: 0px 20px 40px rgba(132, 51, 170, 0.18);
    box-shadow: 0px 20px 40px rgba(132, 51, 170, 0.18);
    text-decoration: none;
}

.right-nav-item a .btn-dashboard {
    font: 500 12px/1.5rem Poppins, sans-serif;
    color: var(--text-color);
    background-color: transparent;
    border: 1px solid var(--text-color);
    border-radius: 999px;
    padding: 0.75rem 3rem;
        -webkit-box-shadow: 0px 20px 40px rgba(132, 51, 170, 0.18);
    box-shadow: 0px 20px 40px rgba(132, 51, 170, 0.18);
    text-decoration: none;
    transition: .5s;
}

.right-nav-item a .btn-dashboard:hover {
    color: #FFFFFF;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
        -webkit-box-shadow: 0px 20px 40px rgba(180, 81, 226, 0.18);
    box-shadow: 0px 20px 40px rgba(182, 84, 228, 0.18);
}


.right-nav-item .btn-register:hover {
    color: #FFFFFF;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
        -webkit-box-shadow: 0px 20px 40px rgba(180, 81, 226, 0.18);
    box-shadow: 0px 20px 40px rgba(182, 84, 228, 0.18);
}

.right-nav-item .btn-login {
    font: 500 12px/1.5rem Poppins, sans-serif;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 999px;
    padding: 0.75rem 3rem;
        -webkit-box-shadow: 0px 20px 40px rgba(132, 51, 170, 0.18);
    box-shadow: 0px 20px 40px rgba(132, 51, 170, 0.18);
    text-decoration: none;
}

.right-nav-item .btn-login:hover {
    color: #FFFFFF;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
        -webkit-box-shadow: 0px 20px 40px rgba(180, 81, 226, 0.18);
    box-shadow: 0px 20px 40px rgba(182, 84, 228, 0.18);
}

#user-account-icon {
    opacity: 90%;
    font-size: 30px;
    color : var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
    text-decoration: none;
}

#user-account-icon:hover {
    color: var(--secondary-color);
}


#menu-icon {
    font-size: 30px;
    color : var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}


@media screen and (max-width: 1280px) {
    header {
        padding: 8px 7.5%;
        transition: .2s;
    }

    header.sticky {
        padding: 8px 7.5%;
    }

    .navbar a {
        padding: 8px 0;
        margin: 0px 16px;
    }

}

@media screen and (max-width: 1090px) {
    header {
        padding: 8px 7.5%;
    }
    header.sticky {
        padding: 8px 7.5%;
    }
    #user-account-icon {
        display: block;
    }
    #menu-icon {
        display: block;
    }
    #search-icon {
        display: none;
    }
    .navbar {
        position: absolute;
        top: 110%;
        right: -100%;
        width: 270px;
        background: var(--neutral-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }

    .navbar .nav-item .nav-link:hover {
        color: var(--text-color);
        transform: translateY(5px);
    }
    
    .navbar .nav-item .nav-link.active {
        color: var(--text-color);
    }

    .navbar.open {
        right: 2%;
    }

    .right-nav-item .btn-register {
        display: none;
    }

    .right-nav-item  .btn-login {
        display: none;
    }
}

    